body {
    background-image: url("https://motaen.com/upload/wallpapers/source/2013/04/12/11/05/35647/vyqX6nPVzQ.jpg");
    background=repeat: no-repeat;
}

.uk-card{
    margin-bottom: 10px;
    width: 300px;
    height: 200px;
    padding-top: auto;
    padding-bottom: auto;
}